{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}

{% endblock title %}


{% block contents %}

<div class="container mt-3">
    {% include "dashboard/partials/status.html" %}
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                    {{ customerFilter.form }}
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    
    </div>
    <br>
    
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Note</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                    </tr>
                    
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.note }}</td>
                            <td>{{ order.date_created }}</td>
                            <td>{{ order.status }}</td>
                        </tr>
                    {% endfor %}
                        
    
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}